.popup__icon-close {
  grid-area: btn;
  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__icon-close:hover {
  opacity: 0.6;
}


@media screen and (max-width: 500px) {
  .popup__icon-close {
    width: 20px;
    height: 20px;
  }
}
