.element__icon {
  display: inline-block;
  width: 22px;
  height: 19px;
  cursor: pointer;
  background: url(../../../images/icon-like.svg);
  transition: opacity .3s ease;
}

.element__icon:hover {
  opacity: 0.5;
}